<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <!--<add key="BaseURL" value="http://qa-stg.ole5.sa" />-->
    <add key="BaseURL" value="http://qa.ole5.sa" />
    <add key="AdminUserName" value="arslanadmin" />
    <add key="AdminPassword" value="P@ssw0rd!@#" />
    <add key="BrowserType" value="chrome" />
    <!--<add key="BrowserType" value="firefox"/>-->
    <add key="UserName" value="arslan" />
    <add key="Password" value="Automation#2017" />
    <add key="User" value="arslan" />
    <add key="Admin" value="arslanadmin"/>
    <add key="internalDepartmentSameDep" value="Auto Internal" />
    <add key="internalDepartmentSameDepAr" value="أتمتة داخلية" />
    <add key="UserMainDepartment" value="Automation Department" />
    <add key="UserMainDepartmentAr" value="Automation Department" />
    <add key="EncryptedMessagePW" value="P@ssw0rd!@#" />
    <add key="UserSameDepartment" value="user_hq" />
    <add key="PasswordUserSameDepartment" value="P@ssw0rd!@#" />
    <!--Just because there is no such data for King Saud University we replace it with this just for the time being-->
    <!--<add key="ExternalEntitySameCountry" value="king faisel university" />-->
    <add key="ExternalEntitySameCountry" value="Auto External Entity" />
    <add key="ExternalEntitySameCountry2" value="Ministry of Hajj" />
    <add key="DeliveryType" value="Delivery by hand" />
    <add key="DeliveryTypeAr" value="تسليم باليد" />
    <add key="DeliveryType2" value="Fax" />
    <add key="DeliveryType2Ar" value="فاكس" />
    <add key="CommDepSameDepEn" value="Auto Communication"/>
    <add key="CommDepSameDep" value="Auto Communication" />
    <add key="AttachementFolder" value="E:\T2automation-Arslan\T2automation\Lib\" />
    <add key="SecurityLevelOptionalAttach" value="Normal Security" />
    <add key="SecurityLevelForbidAttach" value="top secure" />
    <add key="SecurityLevelRequiredAttach" value="Non-secure" />
    <add key="OtherMainDepartment" value="Automation Outside Department" />
    <add key="OtherMainDepartmentAr" value="Automation Outside Department" />
    <add key="InternalDepartmentOtherDep" value="Auto Internal Outside" />
    <add key="InternalDepartmentOtherDepAr" value="Auto Internal Outside" />
    <add key="ChildDepartmentSameDep" value="Auto Child" />
    <add key="ChildDepartmentSameDepAr" value="أتمتة فرعية" />
    <add key="ChildDepartmentOtherDep" value="Auto Child Outside" />
    <add key="ChildDepartmentOtherDepAr" value="Auto Child Outside" />
    <add key="InternalDepartmentSameDepartment2" value="Auto Internal 2"/>
    <add key="InternalDepartmentSameDepartment2Ar" value="أتمتة داخلية 2"/>
    <add key="UserOtherDepartment" value="user_wash" />
    <add key="UserOtherDepartmentPassword" value="P@ssw0rd!@#" />
    <add key="DownloadFolder" value="E:\T2automation-Arslan\T2automation\Downloads\"/>
    <add key="DefaultDir" value="E:\T2automation-Arslan"/>
    <add key="DefaultDownload" value="E:\T2automation-Arslan\T2automation\Downloads"/>
    <add key="UserGroups" value="Department Group for Automation 111"/>
    <add key="UserGroups2" value="Department Group for Automation 222"/>
    <add key="InternalMailMain" value="Internal Mail Department"/>
    <add key="InternalMailMainAr" value="إدارة تراسل داخلي"/>
    <add key="InternalMailDep" value="Internal Mail internal department"/>
    <add key="InternalMailDepAr" value="إدارة داخلية تراسل داخلي"/>
    <add key="InternalMailChild" value="Internal Mail Child"/>
    <add key="AutomationDepartment" value="Automation Department"/>
    <add key="InternalDepDisabled" value="Disabled Mail Department"/>
    <add key="InternalDepDisabledAr" value="إدارة ببريد معطل"/>
    <add key="InternalDepForbidden" value="Forbidden Department"/>
    <add key="InternalDepForbiddenAr" value="إدارة ممنوعة من الإستقبال"/>
    <add key="InternalDepNoMembers" value="No Members Department"/>
    <add key="InternalDepNoMembersAr" value="إدارة بدون أعضاء"/>
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>